<!DOCTYPE html>
<html>
<head>
    <title>Hotter or colder?</title>
    <link href='/bootstrap/css/bootstrap.css' rel='stylesheet'>
    <link type="text/css" rel="stylesheet" href="bootswatch.css"/>
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
    <link rel="shortcut icon" href="favicon.ico">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42735744-3', 'hotterorcolder.com');
  ga('send', 'pageview');

</script>
</head>
<body>
    <div class='container marketing pagination-centered'>
    <br><br><br><br>
      <div class="featurette">
      <div class="row">
          
            <h2><div class="text-muted featurette-heading">Location - <%= @location.capitalize %></div></h2>
            <blockquote>
              <br><br>
            <h1 class="featurette-heading"><%=@word_one%> will be <%=@comparison_phrase%> <%=@word_two%>.</h1>
            </blockquote>
          </div>
          
      <div class="text-center bottom-line">
        <p>Written in <a href="http://www.ruby-lang.org/en/">Ruby</a> using <a href="http://www.sinatrarb.  com/">Sinatra</a>, hosted by <a href="https://www.heroku.com/‎">Heroku</a>. <br><br>Created and maintained  by <a href="http://www.linkedin.com/profile/view?id=74277996">Grace</a> and <a href="http://www. linkedin.com/profile/view?id=57766237">Archy</a>.</p>
        <p>With help and support from <a href="http://www.codefirstgirls.org.uk/"><img class="logo" src= "  http://www.codefirstgirls.org.uk/uploads/1/9/8/9/19897181/1376300268.png"></a></p>
      </div>
<!--<h5 class="text-muted">Actual data</h5> 
<h5 class="text-muted"><%=@word_one%>'s temperatures <%=@temp_tomorrow%></h5> 
<h5 class="text-muted"><%=@word_two.capitalize%>'s temperatures <%=@temp_today%></h5>-->
      </div>
    </div>
</body>
</html>